@use '../../../styles/variables' as v;


.main {
    display: grid;
    // flex-direction: column;
    grid-template-columns: 1fr 1fr;
    // height: 100vh;
    width: 99vw;
    align-items: center;
    position: relative;
    height: calc(100vh + 150vw);
    // justify-content: center;
    // margin-top: 120px;

}

.emptycontent {
    height: 99vh;
    width: 50vw;
}

.content {
    height: 60vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    color: v.$text-primary;
    z-index: 1;
    position: fixed;
    top: 20vh;
    left: 50vw;
    // div {
    //     position: sticky;
    //     top: 0;
    //     overflow: hidden;
    //     height: 100vh;
    //     display: flex;
    // }

    // section {
    //     // border-radius: 18px;
    //     // padding: 24px;
    //     // backdrop-filter: blur(2px);

    //     background-color: rgba(0, 0, 0, 0.8);
    //     width: 50vw;
    //     display: flex;
    //     flex-direction: column;
    //     color: v.$text-primary;
    //     // padding: 8px 16px 8px 8px;
    //     // z-index: 5;
    //     // overflow: auto;

    //     // box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
    //     &::-webkit-scrollbar {
    //         width: 8px;
    //     }

    //     &::-webkit-scrollbar-thumb {
    //         background-color: v.$primary-1;
    //         border-radius: 12px;
    //     }

    //     &::-webkit-scrollbar-track {
    //         background-color: v.$background-primary;
    //         border-radius: 12px;
    //     }
    // }




    h1 {
        text-align: start;
        font-size: 2rem;
        color: v.$primary-1;
        font-weight: 600;
        margin-bottom: 32px;
    }

    h2 {
        text-align: start;
        font-size: 1.4rem;
        font-weight: 700;
        margin-bottom: 32px;
    }

    p {
        text-align: start;
        font-size: 1rem;
        line-height: 1.4rem;
        color: v.$text-secondary;
        font-weight: 400;
        display: inline-block;
        transition: color 0.3s;

        span {
            color: v.$primary-2;
            font-weight: 700;

        }

        &:hover {
            color: v.$text-primary;
        }

        &:not(:last-child) {
            margin-bottom: 1rem;
        }


    }
}

.blog {
    margin-top: 32px;

    a {
        text-align: start;
        font-size: 1rem;
        line-height: 1.8rem;
        color: v.$text-primary;
        font-weight: 300;
        display: inline-block;
        text-decoration: none;
        transition: background-color 0.3s, color 0.3s;

        padding: 4px 64px;
        border: 2px v.$primary-1 solid;
        ;
        border-radius: 12px;
        margin-left: 12px;

        span {
            color: v.$primary-1;
            font-weight: 700;
        }

        &:hover {
            background-color: v.$primary-1;
            color: v.$background-primary;

            span {
                color: v.$background-primary;
            }
        }
    }
}

.social {
    margin-top: 12px;
    display: flex;

    a {
        text-decoration: none;
        font-size: 1rem;
        display: flex;
        align-items: center;
        padding: 8px 18px;
        border: 2px v.$button-default solid;
        color: v.$button-default;
        border-radius: 12px;
        margin-left: 12px;
        transition: background-color 0.3s, color 0.3s;

        svg {
            margin-right: 8px;
        }

        &:hover {
            background-color: v.$button-default;
            color: v.$background-primary;
        }
    }
}

.wrapperCarousel {
    position: relative;
}

.carouselContainer {
    width: 50vw;
    height: calc(60vh - 64px);
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    /* Hide scrollbar in Firefox */
    -ms-overflow-style: none;
    /* Hide scrollbar in IE */
    // border: 1px solid red;


}

.carouselContainer::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar in Chrome */
}

.carouselInner {
    width: 200vw;
    /* 5 sections * 100% */
    height: calc(60vh - 64px);
    // border: 1px solid green;

}

.carouselSection {
    scroll-snap-align: start;
    width: 50vw;
    /* Full width */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 2rem;
    // background: #f5f5f5;
    // border: 1px solid #ddd;
    // border: 1px solid blue;
    padding-right: 48px;
    padding-left: 18px;
}

.carouselTrack {
    position: absolute;
    width: 40px;
    bottom: 0px;
    left: -36px;
    height: 2px;
    // scaleX: 0.9;
    z-index: 1;
    transform: scaleX(0.9);

    &::before {
        content: '';
        position: absolute;
        width: 2px;
        height: 200px;
        background-color: inherit;
        top: -199px;
        left: 0px;
        transform: scaleX(1.1);
        // backgroundColor: 'red';
        // zIndex: 1;
    }

    &::after {
        content: '';
        position: absolute;
        width: 50vw;
        max-width: 260px;
        height: 2px;
        background-color: inherit;
        bottom: calc(60vh - 64px);
        left: calc(50vw - 150px);
        transform: scaleX(0.99);
        // backgroundColor: 'red';
        // zIndex: 1;
    }


}