@use './reset';
@use './variables' as v;
// Vendors
@import '../../node_modules/locomotive-scroll/bundled/locomotive-scroll.css';

body {
    background-color: v.$background-highlight;
    color: v.$text-primary;
    // cursor: none;
    overflow-x: hidden;
}


.canvas {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}