@use '../../../styles/variables' as v;


.main {
    display: flex;
    flex-direction: column;
    width: 99vw;
    align-items: center;
    position: relative;
    height: calc(100vh - 72px);
    margin-top: 72px;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: v.$primary-1;
        border-radius: 12px;
    }

    &::-webkit-scrollbar-track {
        background-color: v.$background-primary;
        border-radius: 12px;
    }
}

.content {
    width: 50vw;
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: v.$text-primary;
    z-index: 1;
    padding-top: 64px;

    h1 {
        text-align: start;
        font-size: 1.5rem;
        color: v.$primary-1;
        font-weight: 700;
        transform: translateX(-4px);
    }

    h2 {
        text-align: start;
        font-size: 1.4rem;
        color: v.$text-primary;
        font-weight: 700;
        margin-bottom: 32px;
    }

    p {
        text-align: start;
        font-size: 1.1rem;
        line-height: 1.8rem;
        color: v.$text-primary;
        font-weight: 300;
        display: inline-block;
        transition: transform 0.3s;
        transform-origin: right;

        span {
            color: v.$primary-2;
            font-weight: 700;

        }

        &:hover {
            transform: scale(1.05);
        }
    }
}